In [2]:
3+5

8

메모장

In [9]:
메모장

NameError: name '메모장' is not defined

# 숫자계산

In [10]:
3+5

8

In [11]:
4+5

9

In [12]:
5+7

12

# 변수

In [14]:
a=3

In [15]:
b=2

In [16]:
a+b

5

In [17]:
Number=7

In [18]:
Number

7

대화형 언어라 print사용 하지 않아도 결과값 나옴

In [19]:
print(Number)

7

In [20]:
number=1

In [21]:
number+Number

8

In [22]:
Number=1

In [23]:
number+Number

2

변수가 새롭게 덮어씌어짐.

In [24]:
1a=4

SyntaxError: invalid syntax (<ipython-input-24-eb5a3b28a73f>, line 1)

에러 확인 가능

# 문자열자료형 1

In [26]:
a=10

In [27]:
a

10

In [28]:
b=3.14
b

3.14

In [29]:
s="hello, world"
s

'hello, world'

In [30]:
a+b

13.14

In [32]:
a,b=10,15
a

10

In [33]:
b

15

In [34]:
s1="python's"
s1

"python's"

In [35]:
s1="python\'s"
s1

"python's"

In [45]:
multiline='Life is too short\nyou need python'
print(multiline)
multiline

Life is too short
you need python

'Life is too short\nyou need python'

ㅇㅇ  
ㅇㅇ<br>
ㅇㅇ

1. 순서1
    1. 하나
2. 순서2


* 하나
    1. 마우스
* 둘

~마우스~  
*마우스*

------

In [48]:
s3='''hellow
world'''
print(s3)

hellow
world

In [50]:
print(multiline[0])

L

In [51]:
print(multiline[20])

u

In [53]:
print(len(multiline))

33

In [57]:
print(multiline[-1])

n

In [58]:
print(multiline[:])

Life is too short
you need python

In [90]:
s = "20010331Rainy"
year ='year : ' + s[0:4]
day = 'day :  ' + s[4:8]
weather ='weather :  ' + s[8:14]
print(year)
print(day)
print(weather)

year : 2001
day :  0331
weather :  Rainy

# 문자열자료형 2

In [112]:
temp=36.6
s='현재온도는 %a도 입니다'%temp
q='현재온도는 %d도 입니다'%temp
print(s)
print(q)

현재온도는 36.6도 입니다
현재온도는 36도 입니다

In [116]:
a='홍익대학교 %d학년 %d학기 종강'%(4,1)
print(a)

홍익대학교 4학년 1학기 종강

In [120]:
N='홍성진'
s4="여러분 안녕하세요 저는 %s입니다."%N
s4

'여러분 안녕하세요 저는 홍성진입니다.'

In [121]:
N='홍성진'
s4='여러분 안녕하세요 저는 %d입니다.'%N
s4

TypeError: %d format: a number is required, not str

이와 같이 type 에러가 나므로 문자는 d말고 s를 써야한다.

In [132]:
x=100
y=200
sum=x+y
s5='%d와 %d의 합은 %d입니다.'%(x,y,sum)
print(s5)
print('{}과 {}의 합은 {}입니다.'.format(x,y,sum))

100와 200의 합은 300입니다.
100과 200의 합은 300입니다.

실제로는 아래 .format이 더 사용하기 쉽다.

In [134]:
s5='여러분 제 이름은 홍성진 입니다. python 쉽나요? 재미있나요??'

In [135]:
s5.count('?')

3

In [136]:
s5.find('이')

6

'이'의 index가 6번째

In [139]:
s5[6:17]

'이름은 홍성진 입니다'

In [140]:
s5.index('이')

6

find와 index의 차이점은 없는 문자를 찾을 때 find는 -1을 표기, index는 error가 나옴.

In [142]:
s5.replace('홍성진','이명호')

'여러분 제 이름은 이명호 입니다. python 쉽나요? 재미있나요??'