# 함수

In [2]:
a=20
print(f'{a}하하')

20하하

In [5]:
review_list1='알라딘 진짜 처럼 잘 만들었네 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ'
review_list1.replace('ㅋ','')

'알라딘 진짜 처럼 잘 만들었네 '

In [6]:
review_list2='실사 치고 잘 만들었네 ㅋㅋㅋ연기도 잘하고 ㅋㅋㅋ'
review_list2.replace('ㅋ','')

'실사 치고 잘 만들었네 연기도 잘하고 '

In [19]:
def string_replace(A):
    print(A.replace('ㅋ',''))
string_replace(review_list1)
string_replace(review_list2)

알라딘 진짜 처럼 잘 만들었네
실사 치고 잘 만들었네 연기도 잘하고

#####  예제

In [27]:
def number_sum(num1,num2):
    result = num1 + num2
    return result

number_sum(4,5)

9

# 함수 실습예제

In [31]:
def number_minus(a,b):
    result=a-b
    return result
num1 = int(input('정수1 입력'))
num2 = int(input('정수2 입력'))
number_minus(num1,num2)

정수1 입력5
정수2 입력3

2

In [33]:
s = input('문자열 입력 >>')
def string_replace2(A):
    return A.replace('ㅋ','')
string_replace2(s)

문자열 입력 >>ㅋㅋㅋㅋㅋㅋ을 모두 지워주세요 ㅋㅋㅋ

'을 모두 지워주세요 '

##### 두 수를 입력 받아서 원하는 연산을 수행하는 함수를 정의하시오.

In [73]:
def cal(a,b):
    '''덧셈과 뺄셈을 하는 함수'''  #docstring
    if OP == "+":
        result= a + b  #return으로 바꿔주면 더 좋다
    elif OP == '-':
        result= a - b  #return으로 바꿔주면 더 좋다
    return result

num1=int(input('정수1 입력 >> '))
num2=int(input('정수2 입력 >> '))
OP=input('연산자 입력\(+,-\) >> ')

cal(num1,num2)

정수1 입력 >> 5
정수2 입력 >> 4
연산자 입력\(+,-\) >> +

9

In [76]:
cal(1,5)

6

#####  약수를 구하는 함수

In [114]:
def divisor(A):
    '''약수를 구하는 함수'''
    i = 0
    list1 = []
    for i in range(i,A+1):
        i += 1
        if A%i == 0:
            list1.append(i)
        else:
            continue
    return print(*list1, sep = " ")

In [118]:
Int1 = int(input('정수를 넣어주세요 >> '))

divisor(Int1)

정수를 넣어주세요 >> 32
1 2 4 8 16 32

### 함수 - 가변 매개변수(*)       variable parameters

In [119]:
def add(*args):   #튜플
    print(args)
add(2,5,6)

(2, 5, 6)

In [120]:
add(2,1)

(2, 1)

In [136]:
def add(*args):
    total=0
    for i in range(0,len(args)) :
        total = total + args[i]
    return total
add(1,2,3)

6

In [137]:
add(1,3,5,4,5,7,7,8,8,3)

51

In [138]:
add(9,8,7)

24

In [139]:
def add_sub(num1,num2):
    return num1+num2,num1-num2,num1*num2
add_sub(1,3)

(4, -2, 3)

In [141]:
a,b,c=add_sub(2,4)
print(a)
print(b)
print(c)

6
-2
8

In [143]:
def power_of_N(num, power=2):
    return num**power
power_of_N(3)

9

In [144]:
power_of_N(2,4)

16

In [145]:
power_of_N(2,power=3)

8

In [146]:
def print_map(**kwargs):
    print(kwargs)
    for key,value in kwargs.items():
        print(key,'/',value)
print_map(하나=1)

{'하나': 1}
하나 / 1

In [147]:
print_map(둘=2, 셋=3, 넷=4)

{'둘': 2, '셋': 3, '넷': 4}
둘 / 2
셋 / 3
넷 / 4