# 산술연산자

In [4]:
num1=10
num2=7

print(num1%num2)
print(num1//num2)

3
1

In [8]:
str1='안녕'
str2='하세요'
print(str1+str2)

str1='10'
str2='7'

print(str1+str2)

안녕하세요
107

In [15]:
num1=10
str2='7'

print(str(num1)+str2)
print(num1+int(str2))

107
17

In [20]:
num1=23
num2=3

print('더하기 결과 : {}'.format(num1+num2))

더하기 결과 : 26

In [31]:
num1=int(input('정수1를 입력하세요 >> '))
num2=int(input('정수2를 입력하세요 >> '))

print('더하기 결과 : {}'.format(num1+num2))

정수1를 입력하세요 >> 5
정수2를 입력하세요 >> 12
더하기 결과 : 17

In [34]:
n1=int(input('python 점수를 입력하세요 >> '))
n2=int(input('머신러닝 점수를 입력하세요 >> '))
n3=int(input('딥러닝 점수를 입력하세요 >> '))
print('합계 : {}'.format(n1+n2+n3))
print('평균 : {}'.format((n1+n2+n3)/3))

python 점수를 입력하세요 >> 100
머신러닝 점수를 입력하세요 >> 80
딥러닝 점수를 입력하세요 >> 60
합계 : 240
평균 : 80.0

# 지수연산자(**)

In [37]:
num = int(input('정수입력 >> '))
power = int(input('지수입력 >> '))
print('{}의 {}승은 {}입니다.'.format(num, power,num**power))

정수입력 >> 2
지수입력 >> 3
2의 3승은 8입니다.

In [40]:
a=3
print(a)
b=a+1
print(b)
b=b+3
b

3
4

7

In [43]:
a=7
a+=7 #a = a + 7
a

14

# 대입, 비교, 논리, 삼항 연산자

In [46]:
a=3
t=a
b=1
a=b
b=t
print(a,b)

1 3

In [47]:
a=3
b=1
a,b=b,a
print(a,b)

1 3

In [48]:
a=3
b=1
a < b

False

In [49]:
not a < b

True

In [50]:
3>5 or 6<10

True

or은 둘중 하나만 참이면 참

##### a if 조건식 else b

In [53]:
score = int(input('점수를 입력하세요 >> '))
result = '합격' if score > 60 else '불합격'
result

점수를 입력하세요 >> 50

'불합격'

In [65]:
num = int(input('정수를 입력하세요 >> '))
result = '짝수' if num%2 == 0 else '홀수'
result

정수를 입력하세요 >> 22

'짝수'

In [86]:
n1 = int(input('첫번째 정수 >> '))
n2 = int(input('두번째 정수 >> '))
result1 = n1-n2
result2 = result1*(-1) if result1 < 0 else result1
print('두 수의 차 : {}'.format(result2))

첫번째 정수 >> 10
두번째 정수 >> 5
두 수의 차 : 5