# 리스트

In [10]:
list1=[2,4,6,8,10,['a','b','c']]
print(list1[0]+list1[-2])

12

In [8]:
list1[5]

['a', 'b', 'c']

In [11]:
temp = list1[5]
print(temp[1])

b

In [12]:
list1[5][1]

'b'

In [14]:
print(list1[5][1])

b

In [16]:
list1[1:3] # 1<=값<3

[4, 6]

In [2]:
list2 = [2,'v']

In [18]:
list1+list2

[2, 4, 6, 8, 10, ['a', 'b', 'c'], 2, 'v']

# 리스트 함수

In [3]:
list2.append(3)
list2

[2, 'v', 3]

In [4]:
list2.insert(1,'b')

In [5]:
list2

[2, 'b', 'v', 3]

In [6]:
list2[1]=4
list2

[2, 4, 'v', 3]

In [7]:
list2[1:3]=['a']
list2

[2, 'a', 3]

In [8]:
del list2[2]
list2

[2, 'a']

In [10]:
list2.remove(2)
list2

['a']

In [11]:
list3=[1,2,3,4,5,6,6,7,8]
list3.sort()
list3

[1, 2, 3, 4, 5, 6, 6, 7, 8]

In [12]:
list3.reverse()

In [13]:
list3

[8, 7, 6, 6, 5, 4, 3, 2, 1]

In [15]:
list3.index(2)

7

In [17]:
list3.pop()
list3

[8, 7, 6, 6, 5, 4, 3, 2]

In [18]:
len(list3)

8

# 튜플 (tuple)

list와 비슷하지만 수정이 불가함.

In [20]:
tuple1=(0,1,2,3,('a','b','c'),5)
tuple1[2]

2

In [21]:
tuple1[4]

('a', 'b', 'c')

In [22]:
tuple1[0:2]

(0, 1)

In [23]:
tuple1[3:]

(3, ('a', 'b', 'c'), 5)

In [24]:
3 in tuple1

True

In [27]:
's' in 'super'

True

In [28]:
3 not in tuple1

False